<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <nlog>
    <!-- Log configuration  -->
    <targets>
      <!-- Colored console logging 
      <target name="ColoredConsole" type="ColoredConsole" layout="${longdate} - (${event-context:item=ip}/${event-context:item=api_key}) - ${level} - ${logger} - ${message}" /> -->
      <target name="ColoredConsole" type="ColoredConsole" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="ColoredConsole" />
    </rules>
  </nlog>
  
  <appSettings>
    <!-- It's really important that the keys are stored in a safe way. I.E.: Encrypted.
         In this example, they are shown in plain text-mode because encryption is 
         out of scope of this project. -->
    <!-- ====================================================================================== -->
    <!-- The presented keys in this example, are fully functional for a FM DEMO environment,
         which will be re-created every night (CET). 
         So, Every change you make here will be drop and you would have a new testing 
         environment every day. -->
    <add key="FM_Public_Key" value="2b66df48cf153db9201d2e71a33d323"/>
    <add key="FM_Private_Key" value="d78ba0c2477fda288237ce9ac83b34728ddd8f2620fbab5feee7fa82ffd77c653"/>
    <add key="FM_API_URL" value="http://localhost/FM_Restful_API/api/"/>
    <add key="FM_API_Version" value="2"/>
    
  </appSettings>
</configuration>

